# Arquivos de Sistema Operacional
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes

# Variáveis de Ambiente
.env
.env.local
.env.*.local
docker-compose.override.yml

# Configurações de IDE genéricas
.vscode/
!.vscode/extensions.json
.idea/